<div class="about-component mt-1">
    <div class="container">
        <div class="p-s">
            <div class="d-flex items-center justify-content-between mb-4">
                <div>
                    <p class="text-2xl">{{name}}</p>
                    <h3 class="text-grey-400 text-lg mt-1">Software Developer at <a href="https://www.ezone.com.np"
                            class="hover:underline cursor-pointer">Ezone</a></h3>
                </div>
                <div class="d-flex btn-container">
                    <button type="button" [ngClass]="{'active': activeTheme === 'default'}"  (click)="toggleTheme('default')"><i class="fa-solid fa-tv"></i></button>
                    <button type="button" [ngClass]="{'active': activeTheme === 'light'}"  (click)="toggleTheme('light')"><i class="far fa-lightbulb"></i></button>
                    <button type="button" [ngClass]="{'active': activeTheme === 'dark'}"  (click)="toggleTheme('dark')"><i class="far fa-moon"></i></button>
                </div>
            </div>
        </div>
        <div class="p-s">
            <p>Building polished software experiences with magical, unique and delightful details, for the web. I aim to
                create beautiful and functional software that is both intuitive and enjoyable for users.</p>
            <p>I have a passion for learning, and I am constantly seeking to improve my skills mostly through <span
                    class="inline-link">reading</span> and <span class="inline-link">writing</span>.
                I'm interested in<em> TypeScript</em> and <em> C#</em>, and at the same time, I'm also experimenting
                with native apps with <em> Angular</em>.</p>
        </div>
    
    </div>
</div>