span:hover {
    color: var(--hover-color);
}

.contact-footer {
    opacity: 1;
    filter: blur(0px);
    transform: none;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
}
i{
    font-size: 0.5rem !important;
}

@media only screen and (max-width: 600px)  {
    .btn-container {
        display: flex;
        flex-direction: column;
    }
}