<div class="mediflow-component">
    <div class="container">
        <div class="p-s">
            <p class="text-lg">e-Zone International Pvt. Ltd.</p>
            <p class="text-grey-400">.Net - Microsoft SQL - JQuery - Angular</p>
        </div>
        <div class="p-s mt-4">
            <p class="text-grey-400 header">2022 - Present</p>
            <p>e-Zone is where I’m currently working, and I’ve already contributed to more than four different
                projects there. It is an amazing place, with a great atmosphere, where you have space & time to learn &
                improve. I’m thrilled to be part of this journey</p>
            <a class="text-grey-400" target="_blank"
            href="https://www.ezone.com.np">vist
                website</a>
        </div>
    </div>
</div>