<div class="mediflow-component">
    <div class="container">
        <div class="p-s">
            <p class="text-lg">Mediflow Solution Pvt. Ltd</p>
            <p class="text-grey-400">.Net - Microsoft SQL </p>
        </div>
        <div class="p-s mt-4">
            <p class="text-grey-400 header">Intern</p>
            <p>I’ve learned many things around .Net. Together with the technical support & the other development team,
                we maintained the main software. Lots of learnings & lots of fun! I
                kept friends and good memories from that experience</p>
            <a class="text-grey-400" target="_blank" href="https://mediflowsolution.com/">vist website</a>
        </div>
    </div>
</div>