<div class="experience-component">
    <div class="container">
        <div class="p-s">
            <p class="text-grey-400">Things that made me who I am - today</p>
            <p class="text-lg">Dive into some of my experiences and learnings</p>
        </div>
        <div class="p-s component-list mt-10">
            <a routerLink="./mediflow" class="link-list py-1">Mediflow Solution</a>
            <a routerLink="./ezone" class="link-list py-1 b-b">Ezone International</a>
        </div>
        <a type="button"
            href="https://www.dropbox.com/scl/fi/ggxh8lcqd1hy8b2d3d3gb/Black-and-White-Corporate-Resume_pdf.pdf?rlkey=ruoveckaklbgq0fytkuf6l8pl&st=52g7t4le&dl=0">resume</a>
    </div>
</div>